# Virtual environment files
.env/
.venv/
venv/
env/
ENV/

# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Setuptools distribution folder
/dist/

# Python egg metadata
*.egg-info
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE-specific files
.vscode/
.idea/
*.swp
*.swo

# Log files
*.log